body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #154889;
}

a {
  color: #00B7FF;
}

.wrapper {
  padding: 50px;
  padding-top: 100px;
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  color: white;
}

.caption {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
}

.infobox {
	padding: 10px;
}